<div class="box">
	<p>Gift Card #</p>
	<% fields_for "cart[gift_card_attributes]", nil do |gc| %>
		<div>
			<%= gc.text_field :giftcard_number, :id => 'gift-card' %>
		</div>
		<p>PIN:</p>
		<div>
			<%= gc.text_field :giftcard_pin, :id => 'pin' %>
		</div>
	<% end %>
	<%= link_to_function 'Apply', :class => 'btn' do |page|
			page << '$("#billing_shipping").submit();'
		end %>
</div>
<p>You may apply more than one gift card to your order, but you must apply them one card at a time. If there is a balance remaining on your order, you will be able to add another gift card after you click apply.</p>
<ul>
	<li><a href="#">Learn More</a></li>
	<li><a href="#">Check Balance</a></li>
</ul>