<!-- box-holder -->
<div class="box-holder">

	<!--
	<div class="box">
		<h2><span>DailyDeal</span></h2>
		<div class="box-content">
			<a href="#"><img src="/images/img10.jpg" alt="image description" /></a>
			<em>Time Left:<span>6:52</span></em>
			<strong><a href="#">PRODUCT NAME</a></strong>
			<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read.</p>
			<a href="#" class="buy">BUY ME!!!</a>
		</div>
	</div>
	-->
	<div class="box">
		<h2><span>DailyDeal</span></h2>
		<div class="box-content">
			<a href="#"><img src="/images/img10.jpg" alt="image description" /></a>
			<em>&nbsp;<span>&nbsp;</span></em>
			<strong><a href="#">COMING SOON!!!</a></strong>
			<p>
				Keep an eye on this area for our new DailyDeal section where we'll have a killer deal every day
				and we'll sell it until its gone!
			</p>
		</div>
	</div>

	<div class="box other">
		<h2><span>WishList</span></h2>
		<div class="box-content">
			<a href="#"><img src="/images/img11.jpg" alt="image description" /></a>
			<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted.</p>
			<ul>
				<li><a href="#">Go to my List</a></li>
				<li class="arrow"><a href="#">Create a new List</a></li>
			</ul>
		</div>
	</div>
	<div class="box">
		<h2><span>Welcome ;)</span></h2>
		<div class="box-content">
			<span class="save">Save 10%</span>
			<strong class="order">On Your First Order</strong>
			<p>Brand new to the DB fam? Great! Click <a href="#">HERE</a> and we'll take 10% off your first order.</p>
		</div>
	</div>
</div>