<div class="featured-products">
	<div class="title tabset">
		<ul>
			<%= render :partial => "front/home_feat_prod_tabs" %>
		</ul>
	</div>
	<div class="tab" id="tab01">
		<div class="pager gallery-box">
			<div class="quote-box">
				<blockquote>
					<div>
						<q>&quot;insert witty, yet pertinent, DB Crew quote here about something interesting&quot;</q>
					</div>
				</blockquote>
			</div>
			<a href="#" class="arrow-left">prev</a>
			<div class="slide">
				<%= render :partial => 'front/home_feat_products' %>
			</div>
			<a href="#" class="arrow-right">next</a>
		</div>
	</div>

	<% if 1 == 2 %>
	<!--
	<div class="tab" id="tab02">
		<div class="pager gallery-box">
			<div class="quote-box">
				<blockquote>
					<div>
						<q>&quot;insert witty, yet pertinent, DB Crew quote here about something interesting&quot;</q>
					</div>
				</blockquote>
			</div>
			<a href="#" class="arrow-left">prev</a>
			<div class="slide">
				<ul>
					<li>
						<div class="title">
							<h3>PRODUCT NAME</h3>
						</div>
						<div class="text">
							<a href="#"><img src="/images/img01.gif" alt="image description" /></a>
							<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read, thoug you’re reading it anyway.</p>
							<em>our price: <span>$199.49</span></em>
						</div>
					</li>
					<li>
						<div class="title">
							<h3>PRODUCT NAME</h3>
						</div>
						<div class="text">
							<a href="#"><img src="/images/img02.gif" alt="image description" /></a>
							<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read, thoug you’re reading it anyway.</p>
							<em>our price: <span>$29.98</span></em>
						</div>
					</li>
					<li>
						<div class="title">
							<h3>PRODUCT NAME</h3>
						</div>
						<div class="text">
							<a href="#"><img src="/images/img03.gif" alt="image description" /></a>
							<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read, thoug you’re reading it anyway.</p>
							<em>our price: <span>$6.99</span></em>
						</div>
					</li>
					<li>
						<div class="title">
							<h3>PRODUCT NAME</h3>
						</div>
						<div class="text">
							<a href="#"><img src="/images/img05.gif" alt="image description" /></a>
							<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read, thoug you’re reading it anyway.</p>
							<em>our price: <span>$199.49</span></em>
						</div>
					</li>
					<li>
						<div class="title">
							<h3>PRODUCT NAME</h3>
						</div>
						<div class="text">
							<a href="#"><img src="/images/img06.gif" alt="image description" /></a>
							<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read, thoug you’re reading it anyway.</p>
							<em>our price: <span>$29.98</span></em>
						</div>
					</li>
					<li>
						<div class="title">
							<h3>PRODUCT NAME</h3>
						</div>
						<div class="text">
							<a href="#"><img src="/images/img07.gif" alt="image description" /></a>
							<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read, thoug you’re reading it anyway.</p>
							<em>our price: <span>$6.99</span></em>
						</div>
					</li>
					<li>
						<div class="title">
							<h3>PRODUCT NAME</h3>
						</div>
						<div class="text">
							<a href="#"><img src="/images/img07.gif" alt="image description" /></a>
							<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read, thoug you’re reading it anyway.</p>
							<em>our price: <span>$6.99</span></em>
						</div>
					</li>
					<li>
						<div class="title">
							<h3>PRODUCT NAME</h3>
						</div>
						<div class="text">
							<a href="#"><img src="/images/img07.gif" alt="image description" /></a>
							<p>Insert dummy copy here, to give an aidea of style and length of copy to be inserted. This is not to be read, thoug you’re reading it anyway.</p>
							<em>our price: <span>$6.99</span></em>
						</div>
					</li>
				</ul>
			</div>
			<a href="#" class="arrow-right">next</a>
		</div>
	</div>
	-->
	<% end %>
	
</div>