<div class="featured-products">
	
	<% cache("home_page_featured", :expires_in => 5.minutes) do %>
	
	<!-- FEATURED PRODUCTS -->
	<div class="title tabset">
		<ul>
			<%= render :partial => "front/home_feat_prod_tabs" %>
		</ul>
	</div>
	<div class="tab" id="tab01">
		<div class="pager gallery-box">
			<div class="quote-box">
				<blockquote>
					<div>
						<q>&quot;Some of our favorite dormworthy stuff that's been student-tested and budget-approved  - The DB Crew&quot;</q>
					</div>
				</blockquote>
			</div>
			<a href="#" class="arrow-left">prev</a>
			<div class="slide">
				<%= render :partial => 'front/home_feat_products' %>
			</div>
			<a href="#" class="arrow-right">next</a>
		</div>
	</div>
	
	<% end %>




	<!-- RECENTLY VIEWED PRODUCTS -->
	<div class="tab" id="tab02" style="display: none;">
		<div class="pager gallery-box">
			<div class="quote-box">
				<blockquote>
					<div>
						<q>&quot;Some of our favorite dormworthy stuff that's been student-tested and budget-approved  - The DB Crew&quot;</q>
					</div>
				</blockquote>
			</div>
			<a href="#" class="arrow-left">prev</a>
			<div class="slide">
				<%= render :partial => 'front/home_recently_viewed_products' %>
			</div>
			<a href="#" class="arrow-right">next</a>
		</div>
	</div>

	
</div>