<ul>
	<li><a class="tab" href="#tab2">Bedologly <span>Sheets, Comforters &amp; Pillows</span></a></li>
	<li><a class="color1 tab" href="#tab3">Bathmatics <span>Baskets, Sandals &amp; Shower Stuff</span></a></li>
	<li><a class="color2 tab" href="#tab4">Laundristics <span>Sewing, Ironing &amp; Laundrying</span></a></li>
	<li><a class="tab" href="#tab5">Socio-Appliances <span>Cooking, Cleaning &amp; Communal Devices</span></a></li>
	<li><a class="color1 tab" href="#tab6">Furnitecture <span>Seats, Stands, Shelves &amp; Stuff</span></a></li>
	<li><a class="color2 tab" href="#tab7">Decoristics <span>Lights, Rugs &amp; All-Things-Stylish</span></a></li>
	<li><a class="tab" href="#tab8">Gadgetometry <span>Gizmos, Gadgets &amp; Thingamajigs</span></a></li>
	<li><a class="color1 tab" href="#tab9">Spacesav-o-nomics <span>Sheets, Comforters &amp; Pillows</span></a></li>
</ul>