<li class="first"><a class="tab active" href="#tab01"><img src="/images/text-featured.png" alt="image description" class="png inner-png" /></a></li>

<% if 1 == 2 %>
<!--
<li><a class="tab" href="#tab02"><img src="/images/text-recently.png" alt="image description" class="png" /></a></li>
-->
<% end %>
