<!-- Note: tabs should use #tab10 etc as the href to show / hide these
<div class="tab" id="tab10"></div>
<div class="tab" id="tab11"></div>
<div class="tab" id="tab12">
	<a href="#"><img src="/images/img18.jpg" alt="image description" /></a>
</div>
-->