<ul class="right-tabset">
	<li class="none"><a class="tab active" href="#tab1">1</a></li>
	<li><a class="tab" href="#join_email_list">The DB Newsletter <span>Stay on top of DB news</span></a></li>
	<li><%= link_to "Fan Us Up On Facebook <span>Facebook stalker? We're ok with that.</span>", facebook_path, :class => "tab" %></li>
	<li><%= link_to "Grab a Gift Card <span>Everybody loves DB cred!</span>", buy_gift_card_path, :class => "tab" %></li>
</ul>