<% unless @recently_viewed_products.empty? %>
<ul>
	<% for product in @recently_viewed_products %>
		<% if product.available_variations.size > 0 %>
			<%= render :partial => "shared/front_product_preview", :locals => {:product => product} %>
			<% content_for :eo_page do %>
				<%= render :partial => "shared/front_product_preview_pop", :locals => {:product => product} %>
			<% end %>
		<% end %>
	<% end %>
</ul>
<% else %>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p id="no_recent_viewed_msg">No products have been viewed!</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
<% end %>