<!-- main title -->
<div class="main-title">
	<h2 class="t-how-2-affiliatize">How 2 Affiliatize</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-link active" href="#"><strong><img src="/images/text-partnership-opps.png" alt="Partnership Opps" class="png" width="187" height="23" /></strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="columns-holder">
				<!-- main column -->
				<div id="m-column">
					<!-- main box -->
					<div class="mbox customer-service login">
						<div class="tabset">
							<ul>
								<li><a class="tab active" href="#"><span>Let’s do lunch</span><em>&nbsp;</em></a></li>
							</ul>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<strong>WORKING WITH DORMBUYS.COM</strong>
										</div>
										<div class="text-block">
											<div class="heading">
												<p>Dormbuys is one of the leading retailers operating in the college space.  We are always looking for quality people and companies to build partnerships with.  If you are looking to partner up with us, we’d love to hear from you.</p>
											</div>
											<div class="heading">
												<strong class="title">Affiliate</strong>
												<p>Earning money through the Dormbuys Affiliate Program is an easy and FREE way to add value to your website’s visitors and friends; all you have to do is send them to a great site with products they can use.  We provide you with a variety of banners, buttons and text links to choose from.  Simply add these links to your site, email, newsletter or anything else you may be sending out and earn commission every time you refer a visitor to the site who makes a purchase.  The more people you send our way, the more you earn!  Give us a call or drop us a line at affiliate@dormbuys.com.</p>
											</div>
											<div class="heading">
												<strong class="title">Get Your Product Sold</strong>
												<p>We are always on the lookout for new and innovative products that meet the needs of the college crowd.  If you think your product could make friends with our product line, give us a shout.  You can contact us using the information at the bottom of the page or email newproduct@dormbuys.com.</p>
											</div>
											<div class="heading">
												<strong class="title">Business Development</strong>
												<p>Sometimes the best things in life are unexpected.  We love reaching out and building business partnerships, but if you haven’t heard from us and think we can do great things together, hit us up.  Give us a call or email us at partnership@dormbuys.com.</p>
											</div>
											<strong class="title">Contact</strong>
											<p>PHONE: <strong>Local:</strong> 502-254-4324  <strong>Toll Free:</strong> 1-866-502-DORM (3676)</p>
											<p>SNAIL MAIL: Dormbuys.com, 1110 Avoca Station Court, Louisville, KY 40245</p>
										</div>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
	
</div>

