<% content_for :full_width_top do %>
	<%= render "shared/admin_main_nav" %>
<% end %>

<div class="std_box">
	
	<h3 class="std_box_heading">Title Goes Here</h3>
	
	<div class="std_box_content">
		
		<table class="std_box_table">
			<thead>
				<tr>
					<th>Column 1</th>
					<th>Column 2</th>
					<th>Column 3</th>
					<th>Column 4</th>
				</tr>
			</thead>
			<tbody>
				<% 10.times do %>
				<tr>
					<td>Column 1</td>
					<td>Column 2</td>
					<td>Column 3</td>
					<td>Column 4</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		
	</div><!-- end .std_box_content -->
	
	
	<div class="std_box_header_left"></div>
	<div class="std_box_header_right"></div>
	<div class="std_box_footer_left"></div>
	<div class="std_box_footer_right"></div>
	
</div><!-- end .std_box -->


<a href="#" class="button"><span>New Blah</span></a>
<a href="#" class="button negative"><span>Delete Blah</span></a>
<a href="#" class="button positive"><span>Save Blah</span></a>