<!-- main title -->
<div class="main-title">
	<h2 class="t-survival-101-links">SURVIVAL 101 LINKS</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-link active" href="#"><strong><img src="/images/text-cool-stuff.png" alt="Cool Stuff" class="png" width="125" height="23" /></strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="columns-holder">
				<!-- main column -->
				<div id="m-column">
					<!-- main box -->
					<div class="mbox customer-service login">
						<div class="tabset">
							<ul>
								<li><a class="tab active" href="#"><span>Links</span><em>&nbsp;</em></a></li>
							</ul>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<strong>RECOMMENDED LINKS</strong>
										</div>
										<div class="text-block">
											<table class="links-list" summary="links list">
												<thead>
													<tr>
														<th class="col1"><a href="#">$2000 entry form</a> insert small block of copy here to describe what this particular link is all about and why it’s so important to list on this page.</th>
														<th class="col2"><a href="#"><img src="/images/img102.jpg" alt="image description" width="469" height="61" /></a></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="col1"><a href="#">Spring break</a> insert small block of copy here to describe what this particular link is all about and why it’s so important to list on this page.</td>
														<td class="col2"><a href="#"><img src="/images/img103.jpg" alt="image description" width="469" height="61" /></a></td>
													</tr>
													<tr>
														<td class="col1"><a href="#">Online sat prep</a> insert small block of copy here to describe what this particular link is all about and why it’s so important to list on this page.</td>
														<td class="col2"><a href="#"><img src="/images/img104.jpg" alt="image description" width="469" height="61" /></a></td>
													</tr>
													<tr>
														<td class="col1"><a href="#">Learn chinese fast</a> insert small block of copy here to describe what this particular link is all about and why it’s so important to list on this page.</td>
														<td class="col2"><a href="#"><img src="/images/img105.jpg" alt="image description" width="469" height="61" /></a></td>
													</tr>
												</tbody>
											</table>
											<dl class="links-list">
												<dt><a href="#">Collegiate Living</a></dt>
												<dd>Collegiate Living offers unique, officially licensed College, NCAA &amp; NFL merchandise and gifts for alumni, students and fans.</dd>
												<dt><a href="#">Care Package Cafe</a></dt>
												<dd>College care packages with a bunch of healthy quality snacks that college students will love. A care package with a mix of healthy, organic and natural treats mixed with student’s favorites! Care packages that show you care!</dd>
												<dt><a href="#">Bean Bag Chairs</a></dt>
												<dd>"The most confortable place to sit anywhere!"</dd>
												<dt><a href="#">As Seen On TV Products</a></dt>
												<dd>Find all hard to find and popular infomercial products at AsSeenOnTVGuys.com. They offer fast and reliable shipping, and low prices that can’t be beat. Infomercial products they carry include Gopher Tool, Space Bags, Push Up Pro, Time Life Music Collection, Wonder Hanger, Twin Draft Guard, Billy May’s products and much more.</dd>
												<dt><a href="#">Beyond Bookmarks</a></dt>
												<dd>College Packs - College care packages and gifts for students. Lifestyle based care packages designed with students in mind. Beyond Bookmarks - Gifts with a twist.</dd>
												<dt><a href="#">College Codex</a></dt>
												<dd>A new approach to college living &amp; culture.</dd>
												<dt><a href="#">MatchCollege.com</a></dt>
												<dd>College Search - MatchCollege.com has over 6000 public and private colleges in their directory providing detailed information regarding admissions, financial aid, tution, employment, housing, athletics and much more.</dd>
												<dt><a href="#">My College Tips</a></dt>
												<dd>Tips, resources, strategies, and suggestions to survive college life!</dd>
												<dt><a href="#">CampusGrotto Blog</a></dt>
												<dd>College News, Tips and Advice.</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
				<!-- side column -->
				<div id="s-column">
					<div class="order-summary order-summary2 order-summary3">
						<div class="box-t">
							<div class="box-area">
								<div class="title-box">
									<strong class="text-get-a-good-one">get a good one</strong>
								</div>
								<div class="body-box main-box">
									<p>We’re always looking to provide Dormbuys shoppers with new and useful resources. If you’ve got a link that would benefit the college crowd, drop us a line and we’ll check it out. </p>
									<p>Email us at <a href="mailto:&#108;&#105;&#110;&#107;&#115;&#119;&#097;&#112;&#064;&#100;&#111;&#114;&#109;&#098;&#117;&#121;&#115;&#046;&#099;&#111;&#109;">&#108;&#105;&#110;&#107;&#115;&#119;&#097;&#112;&#064;&#100;&#111;&#114;&#109;&#098;&#117;&#121;&#115;&#046;&#099;&#111;&#109;</a></p>
								</div>
							</div>
						</div>
						<div class="box-b"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
	
</div>
