<!-- main title -->
<div class="main-title">
	<h2 class="t-news-room">News Room</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-link active" href="#"><strong><img src="/images/text-news-and-press.png" alt="News &amp; Press" class="png" width="180" height="23" /></strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="columns-holder">
				<!-- main column -->
				<div id="m-column">
					<!-- main box -->
					<div class="mbox customer-service login">
						<div class="tabset">
							<ul>
								<li><a class="tab active" href="#"><span>The Word</span><em>&nbsp;</em></a></li>
							</ul>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<div>
												<strong>WHO SAID IT</strong>
											</div>
											<div>
												<strong>WHAT THEY SAID</strong>
												<span class="db">db</span>
											</div>
										</div>
										<table class="news-and-press" summary="news and press">
											<thead>
												<tr>
													<th class="col1"><a target="_blank" href="/images/news/articles/GMA%20Story%208-24-07.pdf"><img src="/images/img75.jpg" alt="image description" width="166" height="32" /></a></th>
													<th class="col2"><span><a target="_blank" href="/images/news/articles/GMA%20Story%208-24-07.pdf">Dorm Essentials: Make it Super Cool!</a></span></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Wall%20Street%20Journal%208-18-06.pdf"><img src="/images/img76.jpg" alt="image description" width="173" height="20" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Wall%20Street%20Journal%208-18-06.pdf">No Kidding: Dorm Decor Grows Up</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Womans_Day_08_14_08_1.pdf"><img src="/images/img77.jpg" alt="image description" width="190" height="59" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Womans_Day_08_14_08_1.pdf">12 Dorm Room Space-Savers</a> <br /><a href="/images/news/articles/Womans_Day_08_14_08_2.pdf">12 Dorm Room Space-Savers (2)</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Utica%20Observer-Dispatch%208-10-06.pdf"><img src="/images/img78.jpg" alt="image description" width="151" height="24" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Utica%20Observer-Dispatch%208-10-06.pdf">Creative Ideas Help...Small College Dorm Spaces</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/USA-Today2-8-4-06.pdf"><img src="/images/img79.jpg" alt="image description" width="167" height="30" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/USA-Today2-8-4-06.pdf">No Place Like Dorm</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Spartanburg%20Herald-Journal%208-16-06.pdf"><img src="/images/img80.jpg" alt="image description" width="142" height="23" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Spartanburg%20Herald-Journal%208-16-06.pdf">Making The Most of Dorm Room Space</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Real%20Simple%20Mag%2011-06.pdf"><img src="/images/img81.jpg" alt="image description" width="164" height="20" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Real%20Simple%20Mag%2011-06.pdf">Solutions: Products of the Month</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Ann_Arbor_News_8_28_08.pdf"><img src="/images/img82.jpg" alt="image description" width="114" height="62" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Ann_Arbor_News_8_28_08.pdf">Dorm stuff ranges from vital to just fun</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Lexington%20Herald%208-5-06.pdf"><img src="/images/img83.jpg" alt="image description" width="166" height="31" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Lexington%20Herald%208-5-06.pdf">Dress Up Your Dorm Digs</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/NJ_Star_Ledger_8_28_08.pdf"><img src="/images/img84.jpg" alt="image description" width="163" height="29" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/NJ_Star_Ledger_8_28_08.pdf">Dorm decor among hidden costs of college</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/WCPO%20-%20DORM%20ON%20A%20DIME%20-%209-1-06.pdf"><img src="/images/img85.jpg" alt="image description" width="55" height="59" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/WCPO%20-%20DORM%20ON%20A%20DIME%20-%209-1-06.pdf">Dorm On A Dime</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/The_Gazette_5_10_08.pdf"><img src="/images/img86.jpg" alt="image description" width="171" height="32" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/The_Gazette_5_10_08.pdf">What grads want</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Hartford%20Courant%208-04-06.pdf"><img src="/images/img87.jpg" alt="image description" width="167" height="28" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Hartford%20Courant%208-04-06.pdf">Dorm &amp; Function</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/The%20Dallas%20Morning%20News%208-7-06.pdf"><img src="/images/img88.jpg" alt="image description" width="157" height="22" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/The%20Dallas%20Morning%20News%208-7-06.pdf">Get The Right Image</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Courier%20Journal%208-05-06.pdf"><img src="/images/img89.jpg" alt="image description" width="163" height="22" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Courier%20Journal%208-05-06.pdf">Piecing Together The Perfect Dorm Room</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Denver%20Post%208-10-06.pdf"><img src="/images/img90.jpg" alt="image description" width="100" height="18" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Denver%20Post%208-10-06.pdf">Five Tips For Making The Most Of Your...Dorm Room</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Cotton_Inc_College_Survival_Guide.pdf"><img src="/images/img91.jpg" alt="image description" width="86" height="64" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Cotton_Inc_College_Survival_Guide.pdf">Dorm Bedding 101: University Cotton</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Denver%20Post%208-10-06.pdf"><img src="/images/img92.jpg" alt="image description" width="169" height="29" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Denver%20Post%208-10-06.pdf">Dorm Rooms: Don’t Overdo It</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Baltimore%20Sun%207-23-06.pdf"><img src="/images/img93.jpg" alt="image description" width="166" height="17" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Baltimore%20Sun%207-23-06.pdf">Dorm Decor Drives Sales</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Athens%20Banner-Herald%208-14-06.pdf"><img src="/images/img94.jpg" alt="image description" width="165" height="16" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Athens%20Banner-Herald%208-14-06.pdf">Lofty Ideas: Design Your Dorm To Maximize Space</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Knox_News_05_13_08.pdf"><img src="/images/img95.jpg" alt="image description" width="108" height="46" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Knox_News_05_13_08.pdf">Survival gear for college includes some new items</a></span></td>
												</tr>
												<tr>
													<td class="col1"><a target="_blank" href="/images/news/articles/Anderson%20Independent-Mail%208-25-06.pdf"><img src="/images/img96.jpg" alt="image description" width="166" height="26" /></a></td>
													<td class="col2"><span><a target="_blank" href="/images/news/articles/Anderson%20Independent-Mail%208-25-06.pdf">Cool &amp; Functional</a></span></td>
												</tr>
											</tbody>
										</table>
										<div class="table-head table-head3">
											<div>
												<strong>ALSO FEATURED IN:</strong>
											</div>
											<div>
												<strong>&nbsp;</strong>
											</div>
										</div>
										<ul class="also-featured-list">
											<li><a href="#"><img src="/images/img97.jpg" alt="image description" width="81" height="40" /></a></li>
											<li><a href="#"><img src="/images/img98.jpg" alt="image description" width="176" height="40" /></a></li>
											<li><a href="#"><img src="/images/img99.jpg" alt="image description" width="148" height="25" /></a></li>
											<li><a href="#"><img src="/images/img100.jpg" alt="image description" width="129" height="57" /></a></li>
											<li><a href="#"><img src="/images/img101.jpg" alt="image description" width="148" height="27" /></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
				<!-- side column -->
				<div id="s-column">
					<div class="order-summary order-summary2 order-summary3">
						<div class="box-t">
							<div class="box-area">
								<div class="title-box">
									<strong class="text-for-the-press">for the press</strong>
								</div>
								<div class="body-box main-box">
									<p>We love talking about life inside the dorms. And after campus-trotting to over 300 colleges in 31 different states, we’ve really grown to understand what college student living is all about these days. </p>
									<p>Aside from assessing our travels, we also use surveys and discussion groups to aid our continued quest of catering to those who are in the thick of dorm life.</p>
									<p>So if you’re doing a story on the collegiate lifestyle, don’t hesitate to email us at <a href="mailto:&#109;&#101;&#100;&#105;&#097;&#064;&#100;&#111;&#114;&#109;&#098;&#117;&#121;&#115;&#046;&#099;&#111;&#109;">&#109;&#101;&#100;&#105;&#097;&#064;&#100;&#111;&#114;&#109;&#098;&#117;&#121;&#115;&#046;&#099;&#111;&#109;</a>. We’d love to set aside some time to chat.</p>
								</div>
							</div>
						</div>
						<div class="box-b"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
	
</div>
