<!-- main title -->
<div class="main-title">
	<h2 class="t-customer-service">Customer Service</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-link active" href="#"><strong><img src="/images/text-how-can-you-help.png" alt="How Can We Help?" class="png" width="192" height="23" /></strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="columns-holder">
				<!-- main column -->
				<div id="m-column">
					<!-- main box -->
					<div class="mbox customer-service login">
						<div class="tabset">
							<%= render :partial => "customer_service_tabs" %>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<div>
												<strong>&nbsp;</strong>
											</div>
											<div>
												<strong>&nbsp;</strong>
												<span class="db">db</span>
											</div>
										</div>
										<div class="text-block">
											<div class="heading">
												<strong class="title">PRIVACY POLICY</strong>
												<p>Dormbuys.com values the privacy of the users on our web site (the "Web Site"). We recognize that you may be concerned about our collection, use, and disclosure of your personally identifiable information ("Personal Information") that we may collect when you use the Web Site. Your privacy is very important to us. Accordingly, we have implemented this Privacy Policy to inform you of the information that we collect from you, how we collect this information, and what we do with it after we collect it. By using the Dormbuys.com Web Site, you are accepting the practices described in this policy. If you have any questions or comments regarding this Privacy Policy, please contact us at: privacy@dormbuys.com</p>
											</div>
											<div class="item-box">
												<strong class="title">What Types of Information Does Dormbuys.com Collect From Me?</strong>
												<p>PERSONAL INFORMATION: We collect Personal Information from you. Personal Information is information that can be used to identify you individually, such as your name, mailing address, phone number, email address, credit card number, and/or financial information.</p>
												<p>NON-PERSONAL INFORMATION: We also collect "non-personal" information from you, such as your browser type, the URL of the previous web site you visited, your ISP, operating system, and your IP Address. This information ("Non-Personal Information") cannot be easily used to personally identify you.</p>
											</div>
											<div class="item-box">
												<strong class="title">How and When Does Dormbuys Collect This Information?</strong>
												<p>PROVIDING INFORMATION TO US: We collect Personal Information from you when you provide it to us. For example, if you purchase a product sold on the Web Site, we may collect your name, mailing address, telephone number, credit card number, and email address. If you sign up to receive a newsletter, we will collect your email address.</p>
												<p>COMMUNICATIONS WITH US: If you communicate with us regarding the Web Site, we will collect any information that you provide to us in any such communication.</p>
												<p>ANALYTIC AND REPORTING TECHNOLOGIES: Like the operators of most web sites, we use analytic and reporting technologies to record Non-Personal Information such as Internet domain and host names, Internet protocol (IP) addresses, browser software and operating system types, and the dates and times that the Web Site is accessed.</p>
											</div>
											<div class="item-box">
												<strong class="title">How Does Dormbuys Use My Information?</strong>
												<p>PERSONAL INFORMATION: We use Personal Information primarily for our own internal purposes, such as providing, maintaining, evaluating, and improving the Dormbuys.com Web Site, fulfilling requests for information, shipping the products that you order, and providing customer support.</p>
												<p>NON-PERSONAL INFORMATION: We use non-personal information to track your use of the Web Site and for other internal purposes, particularly providing, maintaining, evaluating, and improving the Dormbuys.com Web Site.</p>
											</div>
											<div class="item-box">
												<strong class="title">When Will Dormbuys Disclose My Information to Third Parties?</strong>
												<p>We do not intentionally disclose your information to third parties without your consent. However, we reserve the right to do so if it is necessary to the operation and continued growth of our business or to protect the rights of others. These instances are discussed below:</p>
												<p>DISCLOSURE TO SUCCESSORS: We may disclose your Personal Information to any successor-in-interest of ours, such as a company that acquires us. In the event Dormbuys goes through a business transition, such as a merger, acquisition by another company, or sale of all or a portion of its assets, your personally identifiable information will likely be among the assets transferred. You will be notified via email or by a notice on our Web Site of any such change in ownership or control of your personal information.</p>
												<p>DISCLOSURE TO UNAFFILIATED THIRD PARTIES: We may disclose your Personal Information to prevent an emergency, to protect or enforce our rights, to protect or enforce the rights of a third party, or as required or permitted by law (including, without limitation, to comply with a subpoena or court order).</p>
												<p>DISCLOSURE TO THIRD-PARTY SERVICE PROVIDERS: We may contract with various third parties who help us provide and maintain the Web Site. For example, we use a third-party to process payments made to us, and may subcontract out production, fulfillment, or other operations. We will use commercially reasonable efforts to prevent such third parties from disclosing your Personal Information, except for the purpose of providing the services in question.</p>
											</div>
											<div class="item-box">
												<strong class="title">What About Cookies?</strong>
												<p>A cookie is a message that is sent to your computer from a web server and stored on your computer's hard drive. Most web sites use cookies. We use cookies to track your use of the Web Site and the Dormbuys Services, provide you with a more personalized user experience, and to allow you to sign in and use the Dormbuys.com “My Account” features. We may also use cookies to ensure that you have been notified of and agreed to the then-current version of the Terms of Service, Privacy Policy, and any other agreements and policies relating to your use of the Web Site. Cookies used by Dormbuys are not linked to Personal Information.</p>
												<p>Some of our business partners (e.g., advertisers) use cookies on our site. We have no access to or control over these cookies. This Privacy Policy covers the use of cookies by Dormbuys only and does not cover the use of cookies by any advertisers.</p>
											</div>
											<div class="item-box">
												<strong class="title">Does Dormbuys Protect My Personal Information?</strong>
												<p>Whenever we obtain your Personal Information, we use commercially reasonable efforts to protect it from unauthorized access or disclosure. However, we are not insurers of the security of your Personal Information. Accordingly, we assume no liability for any disclosure of data due to errors in transmission, unauthorized third party access or other acts of third parties, or acts or omissions beyond our reasonable control.</p>
											</div>
											<div class="item-box">
												<strong class="title">Security</strong>
												<p>The security of your personal information is important to us. When you enter sensitive information, such as a credit card number, on our registration or order forms, we encrypt that information using secure socket layer technology (SSL). We follow generally accepted industry standards to protect the Personal Information submitted to us, both during transmission and once we receive it.</p>
											</div>
											<div class="item-box">
												<strong class="title">Does This Privacy Policy Apply When I Access Third Party Web Sites?</strong>
												<p>You may be able to access third-party web sites directly from the Web Site. This Privacy Policy does not apply when you access such web sites. We cannot control how third parties may use Personal Information you disclose to them, so you should carefully review the privacy policy of any third-party web site you visit before using it or disclosing your Personal Information to its provider.</p>
											</div>
											<div class="item-box">
												<strong class="title">Can I "Opt Out" From Receiving Communications From Dormbuys.com?</strong>
												<p>If you no longer wish to receive our newsletter and promotional communications, you may opt-out of receiving them by visiting the My Account section of the web.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
				
				<%= render :partial => "customer_service_contact" %>
				
			</div>
		</div>
	</div>
	
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
	
</div>
