<!-- main title -->
<div class="main-title">
	<h2 class="t-scholarships">Scholarships</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-link active" href="#"><strong><img src="/images/text-scholarships.png" alt="Scholarships" class="png" width="170" height="23" /></strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="columns-holder">
				<!-- main column -->
				<div id="m-column">
					<!-- main box -->
					<div class="mbox customer-service login">
						<div class="tabset">
							<ul>
								<li><a class="tab active" href="#"><span>Where to get help</span><em>&nbsp;</em></a></li>
							</ul>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<div>
												<strong>&nbsp;</strong>
											</div>
											<div>
												<strong>&nbsp;</strong>
												<span class="db">db</span>
											</div>
										</div>
										<div class="text-block">
											<strong class="title">Free money is the best kind of money.</strong>
											<p>If you found your way to this page, you’ve probably figured out that someone else paying for your education isn’t the worst thing in the world. Or perhaps you are here to dip your feet in the water and find out if there are any scholarships that you may be eligible for (by the way, the answer is yes). Either way, you've come to the right place.</p>
											<p>The staff at Dormbuys.com has visited hundreds of different sites...and we took some notes while we were there. Our goal is to provide you with links to the very best scholarship information out there. You will have access to the best sites with the most information all in one place.</p>
											<dl class="scholarships-list">
												<dt><a href="#">Quick $2000 Scholarship Entry</a></dt>
												<dd>August 15th Give Away! This scholarship is acknowledged by thousands of Colleges, Universities, and Professional Education Institutions nationwide. This scholarship can be used for any of your needs like Rent, Tuition, Books or Social Activities.</dd>
												<dt><a href="#">AdventuresinEducation.org</a></dt>
												<dd>A nonprofit program that helps students plan and complete their educational journey. They have a searchable database of over 10,000 scholarships.</dd>
												<dt><a href="#">All-Ink.com</a></dt>
												<dd>All-Ink.com is committed to helping students pursue their goal of a higher education. All-Ink.com is offering up to $10,000 in scholarships to qualified students who are enrolled or planning to participate in an accredited college or university program.</dd>
												<dt><a href="#">Brokescholar.com</a></dt>
												<dd>BrokeScholar, the home of 650,000 scholarship award listings, helps students apply for billions of scholarship and grant dollars.</dd>
												<dt><a href="#">CareerInfoNet.com</a></dt>
												<dd>This site, sponsored by the U.S. Department of Labor, has a searchable database containing more than 5000 scholarships, fellowships, loans, and other financial aid opportunities.</dd>
												<dt><a href="#">Collegeboard.com</a></dt>
												<dd>The College Board is a not-for-profit membership association whose mission is to connect students to college success and opportunity.</dd>
												<dt><a href="#">Collegefunds.net</a></dt>
												<dd>Their homepage says that they help you hunt down the most ideal student loan, scholarships and other financial aid resources available to you. Wouldn’t the ideal one be the one you got?!?</dd>
												<dt><a href="#">CollegeNET.com</a></dt>
												<dd>Use CollegeNET’s five key Internet admissions services to help yourself get into college and change the world. When applying for more than one program, you save time and redundant typing as common data automatically travels from form to form. The CollegeNET database contains over 600,000 awards, totally over $1.6 billion.</dd>
												<dt><a href="#">Collegetoolkit.com</a></dt>
												<dd>These guys have $1000 scholarship drawings as well as a database that you can search by geography, heritage, religion, or family affiliation.</dd>
												<dt><a href="#">Collegescholarships.com</a></dt>
												<dd>New scholarships are posted monthly. This free quality information includes all of the details you need to apply now, including eligibility requirements, deadlines, amounts, contact name, address, phone number and website of the scholarship sponsor.</dd>
												<dt><a href="#">CollegesandCareers.com</a></dt>
												<dd>Find college scholarships and grants with our FREE scholarship search. You can also apply for their $10,000 scholarship drawing.</dd>
												<dt><a href="#">Fastaid.com</a></dt>
												<dd>Considers itself the world’s largest and oldest private sector scholarship database. 20 years of scholarship research, constantly updated.</dd>
												<dt><a href="#">Finaid.com</a></dt>
												<dd>One of the most comprehensive annotated collections of information about student financial aid on the web, Finaid.com is a must-visit</dd>
												<dt><a href="#">Financialaidsupersite.com</a></dt>
												<dd>A financial aid consulting service that helps parents complete the forms and maximize the students financial aid package.</dd>
												<dt><a href="#">Get-Recruited.com</a></dt>
												<dd>The aim of the Get-Recruited program is to help make this process work for both students and institutions of higher education ... to bring students together with colleges, universities, graduate schools, and professional schools and help them identify the scholarships and financial aid for which they may qualify.</dd>
												<dt><a href="#">GoCollege.com</a></dt>
												<dd>Find the right scholarship for you. The country’s best scholarship database. $1.1 billion in awards with 500,000 entries. Updated every 60 days.</dd>
												<dt><a href="#">IEFA.org</a></dt>
												<dd>IEFA is the premier resource for financial aid, college scholarship and grant information for US and International students wishing to study abroad.</dd>
												<dt><a href="#">NextStudent.com</a></dt>
												<dd>If you believe their tagline, here is your chance at college funding made simple. They have a database of over 69,000 funding sources comprised of more than 5.9 million individually awarded scholarships valued at over $16 billion.</dd>
												<dt><a href="#">Scholarship-page.com</a></dt>
												<dd>Scholarship search started by a frustrated student looking for scholarships in 1997.</dd>
												<dt><a href="#">Scholarship Central</a></dt>
												<dd>Scholarship Central’s database consists of over 1.68 million awards, worth more than $7.69 billion.</dd>
												<dt><a href="#">Scholarshipexperts.com</a></dt>
												<dd>ScholarshipExperts has been helping parents and students find scholarships and free college money since 2001. They constantly update their database of college scholarships and grad school scholarships to provide accurate and timely information.</dd>
												<dt><a href="#">Scholarship-monkey.com</a></dt>
												<dd>Ever had a monkey help you look for scholarships? Well, here’s your chance. They claim their database has awards in excess of $3 billion from greater then 4000 sources. Check out the monkey!</dd>
												<dt><a href="#">Scholarships.com</a></dt>
												<dd>The mission of Scholarships.com is to assist students in obtaining scholarships for college and help them explore the many financial aid opportunities available to students as well as parents. We provide an online resource that delivers the information and tools required to understand financial aid and make well-informed choices -- all at no charge.</dd>
												<dt><a href="#">Scholarsite.com</a></dt>
												<dd>Sick of filling out all of your personal information yet? Well this site wants to help you out. They allow you to search for financial aid quickly and accurately without losing time and privacy by entering personal information.</dd>
												<dt><a href="#">Supercollege.com</a></dt>
												<dd>SuperCollege is an independent publisher of books and resources on college planning. SuperCollege seeks to provide students and parents with the most useful and helpful information to help them get into and pay for college.</dd>
												<dt><a href="#">United Negro College Fund</a></dt>
												<dd>A free online scholarship search sponsored by the UNCF.</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
</div>
