<div class="tab">
	<div class="pager gallery-box">
		<div class="quote-box">
			
			<% form_for :sort, :url => request.path, :html => {:id => 'sort_form', :method => "get"} do |f| %>
			
			
				<%= hidden_field_tag "search[search_term]", params[:search] ? params[:search][:search_term] : "" %>
			
				<%= f.select :sort_type, 
					[
						["SORT BY", ""],
						["Price (Highest to lowest)", "price_desc"],
						["Price (lowest to highest)", "price_asc"],
						["Best Selling (most popular)", "best_selling"]
					],
					{
						:selected => (params[:sort] ? params[:sort][:sort_type] : "")
					},
					{
						:onchange => "document.forms['sort_form'].submit();"
					}
					 %>
			<% end %>
			
			<ul class="breadcrumbs">
				<li><h3>Search Results</h3></li>
			</ul>
		</div>
		<div class="product-hold">
			
			<% if @products.empty? %>
				<h2>&nbsp;</h2>
				<h2 style="text-align: center; color: #5C8727">No products matched your search terms</h2>
				<% 10.times do %>
					<h2>&nbsp;</h2>
				<% end %>
			<% else %>
				<% @products.in_groups_of(6, false) do |row| %>
					<ul>
						<% for product in row %>
							<%= render :partial => "shared/front_product_preview", :locals => {:product => product} %>
						<% end %>
					</ul>
				<% end %>
			<% end %>
			
		</div>
	</div>
	<div class="pager-hold">
		<%= will_paginate(@products) %>
	</div>
</div>