<!-- main title -->
<div class="main-title">
	<h2 class="t-customer-service">Customer Service</h2>
</div>
<!-- main holder - my stuff -->
<div class="main-holder">
	<div class="featured-products">
		<div class="title tabset">
			<ul>
				<li class="first"><a class="t-link active" href="#"><strong><img src="/images/text-how-can-you-help.png" alt="How Can We Help?" class="png" width="192" height="23" /></strong><span>&nbsp;</span></a></li>
			</ul>
		</div>
	</div>
	<!-- main content -->
	<div class="main-content">
		<div class="mcontent-b">
			<div class="columns-holder">
				<!-- main column -->
				<div id="m-column">
					<!-- main box -->
					<div class="mbox customer-service login">
						<div class="tabset">
							<%= render :partial => "customer_service_tabs" %>
						</div>
						<div class="mbox-body">
							<div class="mbox-t">
								<div class="mbox-area">
									<div class="table-box card-holder">
										<div class="table-head table-head2">
											<div>
												<strong>&nbsp;</strong>
											</div>
											<div>
												<strong>&nbsp;</strong>
												<span class="db">db</span>
											</div>
										</div>
										<div class="text-block">
											<div class="heading">
												<strong class="title">Shipping Policy &amp; Carriers</strong>
												<p>The majority of Dormbuys orders ship from our main warehouse in Louisville, KY; however, some orders may ship from the warehouses of our partner vendors, which are located throughout the country. Most orders will ship via Fed-Ex or UPS; as such, we are currently unable to ship to P.O. Box or military addresses. Orders containing Dormbuys.com Gift Cards and no other merchandise will be shipped at no charge via USPS, or can be sent via email.</p>
												<p>Our goal is simple. If you place your order by 3:00 pm EST, we’ll get it out the door on that same day. Some items shipped from our vendor partners and custom items may take longer to ship. If an item will not arrive to you within the normal shipping window (5-7 business days), we will provide the estimated shipping time within the description of the item.  Orders are processed and shipped during regular business hours (Monday through Friday, 9:00AM to 5:00PM EST, excluding holidays). If we encounter any problems processing or shipping your order, we will contact you within one business day.</p>
											</div>
											<div class="heading">
												<strong class="title">Shipping Rates</strong>
												<p>The cost for shipping is directly tied into the cost of your order, so your shipping cost will vary based on the item(s) you order. Your shipping rates are quickly determined once you enter your zip code in the shopping cart’s “Shipping Cost Calculator,” but you don't have to enter any personal information to determine your shipping costs. Please note, at this time we are unable to ship to P.O. Box and military addresses.</p>
											</div>
											<strong class="title">Shipping Tables</strong>
											<div class="shipping-tables-holder">
												<div class="col">
													<strong class="title-table">GROUND</strong>
													<table summary="shipping table">
														<thead>
															<tr>
																<th class="col1"><span>Order <br />Subtotal</span></th>
																<th class="col2">Shipping <br />Charge</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>$0.00 - $24.98</td>
																<td class="col2">$7.99</td>
															</tr>
															<tr>
																<td>$24.99 – 49.98</td>
																<td class="col2">$8.99</td>
															</tr>
															<tr>
																<td>$49.99 - $74.98</td>
																<td class="col2">$9.99</td>
															</tr>
															<tr>
																<td>$74.99 - $99.98</td>
																<td class="col2">$10.99</td>
															</tr>
															<tr>
																<td>$99.99 - $124.98</td>
																<td class="col2">$11.99</td>
															</tr>
															<tr>
																<td>$124.99 – $149.98</td>
																<td class="col2">$12.99</td>
															</tr>
															<tr>
																<td>$149.99 – 174.98</td>
																<td class="col2">$13.99</td>
															</tr>
															<tr>
																<td>$174.99 - $199.98</td>
																<td class="col2">$14.99</td>
															</tr>
															<tr>
																<td>$199.99 - $249.98</td>
																<td class="col2">$15.99</td>
															</tr>
															<tr>
																<td>$249.99 - $499.98</td>
																<td class="col2">$17.99</td>
															</tr>
															<tr>
																<td>$499.99 - $749.98</td>
																<td class="col2">$19.99</td>
															</tr>
															<tr>
																<td>$749.99 - $999.98</td>
																<td class="col2">$24.99</td>
															</tr>
															<tr>
																<td>$999.99 - $1499.99</td>
																<td class="col2">$29.99</td>
															</tr>
															<tr>
																<td>$1500+</td>
																<td class="col2">$37.99</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col">
													<strong class="title-table">EXPRESS</strong>
													<table summary="shipping table">
														<thead>
															<tr>
																<th class="col1"><span>Order <br />Subtotal</span></th>
																<th class="col2">Shipping <br />Charge</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>$0.00 - $24.98</td>
																<td class="col2">$7.99</td>
															</tr>
															<tr>
																<td>$24.99 – 49.98</td>
																<td class="col2">$8.99</td>
															</tr>
															<tr>
																<td>$49.99 - $74.98</td>
																<td class="col2">$9.99</td>
															</tr>
															<tr>
																<td>$74.99 - $99.98</td>
																<td class="col2">$10.99</td>
															</tr>
															<tr>
																<td>$99.99 - $124.98</td>
																<td class="col2">$11.99</td>
															</tr>
															<tr>
																<td>$124.99 – $149.98</td>
																<td class="col2">$12.99</td>
															</tr>
															<tr>
																<td>$149.99 – 174.98</td>
																<td class="col2">$13.99</td>
															</tr>
															<tr>
																<td>$174.99 - $199.98</td>
																<td class="col2">$14.99</td>
															</tr>
															<tr>
																<td>$199.99 - $249.98</td>
																<td class="col2">$15.99</td>
															</tr>
															<tr>
																<td>$249.99 - $499.98</td>
																<td class="col2">$17.99</td>
															</tr>
															<tr>
																<td>$499.99 - $749.98</td>
																<td class="col2">$19.99</td>
															</tr>
															<tr>
																<td>$749.99 - $999.98</td>
																<td class="col2">$24.99</td>
															</tr>
															<tr>
																<td>$999.99 - $1499.99</td>
																<td class="col2">$29.99</td>
															</tr>
															<tr>
																<td>$1500+</td>
																<td class="col2">$37.99</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="col">
													<strong class="title-table">OVERNIGHT</strong>
													<table summary="shipping table">
														<thead>
															<tr>
																<th class="col1"><span>Order <br />Subtotal</span></th>
																<th class="col2">Shipping <br />Charge</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>$0.00 - $24.98</td>
																<td class="col2">$7.99</td>
															</tr>
															<tr>
																<td>$24.99 – 49.98</td>
																<td class="col2">$8.99</td>
															</tr>
															<tr>
																<td>$49.99 - $74.98</td>
																<td class="col2">$9.99</td>
															</tr>
															<tr>
																<td>$74.99 - $99.98</td>
																<td class="col2">$10.99</td>
															</tr>
															<tr>
																<td>$99.99 - $124.98</td>
																<td class="col2">$11.99</td>
															</tr>
															<tr>
																<td>$124.99 – $149.98</td>
																<td class="col2">$12.99</td>
															</tr>
															<tr>
																<td>$149.99 – 174.98</td>
																<td class="col2">$13.99</td>
															</tr>
															<tr>
																<td>$174.99 - $199.98</td>
																<td class="col2">$14.99</td>
															</tr>
															<tr>
																<td>$199.99 - $249.98</td>
																<td class="col2">$15.99</td>
															</tr>
															<tr>
																<td>$249.99 - $499.98</td>
																<td class="col2">$17.99</td>
															</tr>
															<tr>
																<td>$499.99 - $749.98</td>
																<td class="col2">$19.99</td>
															</tr>
															<tr>
																<td>$749.99 - $999.98</td>
																<td class="col2">$24.99</td>
															</tr>
															<tr>
																<td>$999.99 - $1499.99</td>
																<td class="col2">$29.99</td>
															</tr>
															<tr>
																<td>$1500+</td>
																<td class="col2">$37.99</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="mbox-b"></div>
						</div>
					</div>
				</div>
				<%= render :partial => "customer_service_contact" %>
			</div>
		</div>
	</div>
	<% content_for :front_footer_gift_blog do %>
		<%= render :partial => "shared/front_footer_gift_blog" %>
	<% end %>
</div>
