<p>Oh Snap!</p>
<p>It looks like the inventory level for: <strong><%= @product_name %></strong> has just been saved at: <strong><%= @qty_on_hand %></strong>.</p>

<p>Click <%= link_to 'here', @edit_url %> to edit the product.</p>

<p>Thanks, Dormbuys.com Website Gnome</p>