.outtaHere {
	position:absolute;
	left:-3000px;
}
/* radio buttons */
.radioArea, .radioAreaChecked {
	float:left;
	width:20px;
	height:21px;
	background: url(../images/bg-radio.gif) no-repeat;
	overflow: hidden;
}
.radioAreaChecked {background-position:0 -21px;}
/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	float:right;
	width:20px !important;
	height:20px;
	overflow: hidden;
	position:relative;
	background: url(../images/bg-checkbox.gif) no-repeat;
}
.checkboxAreaChecked {background-position: 0 -20px;}

.card-box .checkboxArea,
.card-box .checkboxAreaChecked {
	float:left;
	margin:2px 2px 0 0;
}
.check-box-area .input-box .checkboxArea,
.check-box-area .input-box .checkboxAreaChecked {float:left;}
/* Selects */
.selectArea {
	position: relative;
	height: 26px;
	float:right;
	color:#000;
	font-size:11px;
	line-height:25px;
	color:#fff;
	font-size:9px;
	font-weight:bold;
	background: url(../images/bg-select.gif) no-repeat;
}
.quote-box .selectArea {
	margin-right:-12px;
}
.mbox-area .selectArea {
	background: url(../images/bg-select4.gif) no-repeat;
}
.quick-popup .form-box .selectArea {
	background: url(../images/bg-select2.gif) no-repeat;
	font-weight:normal;
	height:28px;
	margin-top:-2px;
	float:none;
}
.selectArea .left {
	position: absolute;
	top: 0;
	left: 0;
	width:19px;
	height:100%;
	display: block;
}
.selectArea a.selectButton {
	position: absolute;
	top: 0;
	right: 0;
	width:163px;
	height:17px;
	z-index:100;
}
.quick-popup .form-box .selectArea a.selectButton {
	width:200px;
}
.selectArea .center{
	height: 30px;
	line-height:23px;
	display:block;
	padding:0 6px 0 28px;
}
.quick-popup .form-box .selectArea .center {
	line-height:25px;
}
.selectArea .center img {
	float:left;
}
/*Selects drop-down*/
.optionsDivInvisible,
.optionsDivVisible {
	position: absolute;
	display: block;
	z-index:999;
	width:144px;
	margin:-1px 0 0 16px;
}
.drop-dif {
	background:#99CCCC;
}
.optionsDivInvisible {display: none;}
.optionsDivVisible ul {
	margin:0;
	padding:0 11px 0 13px;
	overflow:hidden;
	list-style: none;
	background:url(../images/bg-select-drop-c.png) no-repeat;
	width:120px;
}
.optionsDivVisible ul li {
	float:left;
	width:100%;
}
.optionsDivVisible ul li:first-child {
	display:none;
}
.optionsDivVisible a {
	color: #666;
	overflow:hidden;
	text-decoration: none;
	display: block;
	font-size:10px;
	line-height:16px;
	position:relative;
}
.optionsDivVisible a img {
	border:none;
	float:left;
}
.optionsDivVisible a:hover {
	text-decoration:underline;
}
.drop-inner-select {
	margin:0 0 0 17px;
}
.drop-inner-select .select-bottom {
	width:186px;
	height:22px;
	background:url(../images/bg-select-drop-b2.png) no-repeat;
}
.drop-inner-select .select-top {
	display:none;
}
.drop-inner-select ul {
	width:162px;
	padding-top:5px;
	background:url(../images/bg-select-drop-c2.png) no-repeat;
}
.detail .form-box .selectArea {
	background: url(../images/bg-select3.gif) no-repeat;
	font-weight:normal;
	height:40px;
	margin-top:-2px;
	float:none;
}
.detail .form-box .selectArea .center {
	padding-left:43px;
	font-size:17px;
	font-weight:normal;
	line-height:38px;
}
.detail .form-box a.selectButton {
	width:300px;
	height:35px;
}
.drop-inner-select2 {
	margin:10px 0 0 26px;
}
* html .drop-inner-select2 {
	margin-left:20px;
}
* +html .drop-inner-select2 {
	margin-left:20px;
}
.drop-inner-select2 .select-bottom {
	width:264px;
	height:17px;
	background:url(../images/bg-select-drop-b3.png) no-repeat;
}
.drop-select-inner .select-top ,
.drop-inner-select2 .select-top {
	display:none;
}
.drop-inner-select2 ul {
	width:244px;
	padding:5px 11px 0 20px;
	background:url(../images/bg-select-drop-c3.png) no-repeat;
}
.drop-inner-select2 ul a {
	font-size:12px;
	line-height:18px;
}
.drop-select-inner {
	margin-top:-2px;
}
.drop-select-inner ul {
	background:url(../images/bg-select-drop-c4.png) no-repeat;
}
/* Select type 3 */
.accountification-select ,
.accountification .selectArea {
	float:left;
	border:1px solid #cbcaca;
	height:26px;
	font-size:12px;
	line-height:28px;
	color:#808080;
	font-weight:normal;
	background:#e6e5e5 url(../images/bg-select-t3.gif) repeat-x !important;
}
.accountification-select a.selectButton ,
.accountification .selectArea a.selectButton {
	width:100%;
	height:100%;
	background:url(../images/bg-select-t3-btn.gif) no-repeat 100% 0;
}
.accountification-select .center ,
.accountification .selectArea .center {
	height:26px;
	padding:0 24px 0 10px;
}
.drop-accountification-select {
	margin:0;
	border:solid #cbcaca;
	border-width:0 1px 1px;
}
.drop-accountification-select .select-top,
.drop-accountification-select .select-center,
.drop-accountification-select .select-bottom {
	background:none;
}
.drop-accountification-select .select-bottom { display:none;}
.drop-accountification-select ul {
	width:auto;
	padding:0;
	overflow:hidden;
	height:1%;
	background:#fff url(../images/bg-select-t3.gif) repeat-x 0 100% !important;
}
.drop-accountification-select ul a {
	font-size:12px;
	line-height:16px;
	display:block;
	padding:3px 10px;
}
.drop-accountification-select ul a:hover {
	background:#808080;
	color:#fff;
	text-decoration:none;
}
/* Select type 4 */
.t9 ,
.t8 ,
.t7 ,
.t6 ,
.select-t4 ,
.sorting .selectArea {
	background:url(../images/bg-select5.gif) no-repeat !important;
	height:16px;
	font-size:14px;
	color:#808080;
	height:36px;
	font-weight:normal;
}
.t6 {
	background:url(../images/bg-select6.gif) no-repeat !important;
	width:228px;
	margin-right:-5px;
}
.t7 {
	background:url(../images/bg-select7.gif) no-repeat !important;
	width:240px;
	margin:0 -5px -5px 0;
	margin-left:7px;
}
.t8 {
	background:url(../images/bg-select8.gif) no-repeat !important;
	width:90px;
	height:33px;
	margin:0 -5px 0 5px;
}
.t9 {
	background:url(../images/bg-select9.gif) no-repeat !important;
	width:62px;
	height:33px;
	margin:0 -5px 0 5px;
}
.t9 .center ,
.t8 .center ,
.t7 .center ,
.t6 .center ,
.select-t4 .center ,
.sorting .center {
	padding:4px 30px 0 12px;
}
.drop-t9 ,
.drop-t8 ,
.drop-t7 ,
.drop-t6 ,
.drop-select-t4 {
	margin:2px 0 0 7px;
}
.drop-t9 .select-top,
.drop-t9 .select-bottom,
.drop-t8 .select-top,
.drop-t8 .select-bottom,
.drop-t7 .select-top,
.drop-t7 .select-bottom,
.drop-t6 .select-top,
.drop-t6 .select-bottom,
.drop-select-t4 .select-top,
.drop-select-t4 .select-bottom,
.drop-select-t4 ul {
	background:none;
}
.drop-t9 ul ,
.drop-t8 ul ,
.drop-t7 ul ,
.drop-t6 ul ,
.drop-select-t4 ul {
	width:100px;
	background:#e5e5e5 !important;
	padding:0;
	border:1px solid #ccc;
}
.drop-t6 ul {
	width:210px;
}
.drop-t7 ul {
	width:220px;
}
.drop-t8 ul {
	width:70px;
}
.drop-t9 ul {
	width:42px;
}
.drop-t8 ul a ,
.drop-t9 ul a ,
.drop-t7 ul a ,
.drop-t6 ul a ,
.drop-select-t4 ul a {
	color:#808080;
	font-size:12px;
	padding:2px 5px;
}
.drop-t8 ul a:hover ,
.drop-t9 ul a:hover ,
.drop-t7 ul a:hover ,
.drop-t6 ul a:hover ,
.drop-select-t4 ul a:hover {
	text-decoration:none;
	background:#a0a0a0;
	color:#fff;
}
.date_select .selectArea{
	margin-bottom: 0px;
}