<div class="tab">
	<div class="pager gallery-box">
		<div class="quote-box">
			
			<!--
			<form action="#">
				<fieldset>
					<select title="select">
						<option>SORT BY</option>
						<option>Price (highest to lowest)</option>
						<option>Price (lowest to highest)</option>
						<option>Best Selling (most popular)</option>
						<option>Highest Rated</option>
					</select>
					<input type="submit" value="Submit" class="hidden" />
				</fieldset>
			</form>
			-->
			
			<ul class="breadcrumbs">
				<li><h3><%=h @subcategory.name %></h3></li>
			</ul>
		</div>
		<div class="product-hold">
			
			<% @products.in_groups_of(6, false) do |row| %>
				<ul>
					<% for product in row %>
						<%= render :partial => "shared/front_product_preview", :locals => {:product => product} %>
					<% end %>
				</ul>
			<% end %>
			
		</div>
	</div>
	<div class="pager-hold">
		<%= link_to "View All", "?view_all=1", :class => 'view_all' %>
		<% unless params[:view_all] %>
			<%= will_paginate(@products) %>
		<% end %>
	</div>
</div>