<!-- prefooter -->
<div class="prefooter">
	<div class="join">
		<ul class="btn-list">
			<li><%= link_to 'scholarship tips', scholarships_path, :class => 'scholarship' %></li>
			<li><%= link_to 'survival 101', links_path, :class => 'survival' %></li>
			<li><%= link_to 'how 2 affiliatize', affiliates_path, :class => 'how' %></li>
			<li><%= link_to 'how can we help?', faq_path, :class => 'help' %></li>
		</ul>
		<form action="#">
			<fieldset>
				<input class="btn" type="image" src="/images/submit.gif" alt="submit" />
				<input id="item1" class="text" type="text" value="Enter your email adress" title="email" />
				<label for="item1">JOIN OUR EMAIL LIST:</label>
			</fieldset>
		</form>
	</div>
</div>