<!-- prefooter -->
<div class="prefooter">
	<div class="join">
		<ul class="btn-list">
			<li><a class="scholarship" href="#">scholarship tips</a></li>
			<li><a class="survival" href="#">survival 101</a></li>
			<li><a class="how" href="#">how 2 affiliatize</a></li>
			<li><a class="help" href="#">how can we help?</a></li>
		</ul>
		<form action="#">
			<fieldset>
				<input class="btn" type="image" src="/images/submit.gif" alt="submit" />
				<input id="item1" class="text" type="text" value="Enter your email adress" title="email" />
				<label for="item1">JOIN OUR EMAIL LIST:</label>
			</fieldset>
		</form>
	</div>
</div>