<!-- header -->
<div id="header">
	<div class="top">
		<ul>
			<li><a href="#">Log in</a></li>
			<li><a href="#">My Account</a></li>
			<li><a href="#">My Wish List</a></li>
			<li><%= link_to 'My Shopping Cart', cart_path, :class => 'shop' %></li>
			<li><%= link_to 'Checkout', cart_login_path %></li>
		</ul>
	</div>
	<ul class="sub-nav">
		<li><a href="#">FAQ</a></li>
		<li><a href="#">NEWSROOM</a></li>
		<li><a href="#">COSTUMER SERVICE</a></li>
		<li><a href="#">CONTACT</a></li>
	</ul>
	<div class="bottom">
		<ul class="contact">
			<li><a class="tweets" href="#">Tweets</a></li>
			<li><a class="fbook" href="#">Fbook</a></li>
			<li><a class="blog" href="#">Blog</a></li>
		</ul>
	</div>
	<div class="search-box">
		<form action="#">
			<fieldset>
				<input type="text" class="text" value="What do you need for your dorm?" title="search" />
				<input type="image" src="/images/bg-btn01.gif" value="" class="btn" alt="search" />
			</fieldset>
		</form>
	</div>
	<span class="follow-arrow">Follow us</span>
</div>