<p>Now that you’ve sampled our dormtastic offers, might we suggest you share the wealth? Grab a gift card [or 6] and let the rest of Dorm Nation in on your little secret. ‘Cause you can’t keep a good thing to yourself!</p>
<ul class="banner-list">
	<li><%= link_to image_tag("/images/img68.jpg"), buy_gift_card_path %></li>
	<li><%= link_to image_tag("/images/img69.jpg"), buy_gift_card_path %></li>
	<li><%= link_to image_tag("/images/img70.jpg"), buy_gift_card_path %></li>
</ul>
<%= link_to 'Grab a gift card', buy_gift_card_path, :class => 'link' %>