<ul class="card-list">
	<li><a href="#"><img alt="image description" src="/images/img-card06.jpg" /></a></li>
	<li><a href="#"><img alt="image description" src="/images/img-card07.jpg" /></a></li>
	<li><a href="#"><img alt="image description" src="/images/img-card08.jpg" /></a></li>
	<li><a href="#"><img alt="image description" src="/images/img-card09.jpg" /></a></li>
</ul>