<ul class="card-list">
	<!--
	<li><a href="#"><%= image_tag("/images/img-card06.jpg", :alt => "Mcafee") %></a></li>
	<li><a href="#"><%= image_tag("/images/img-card07.jpg", :alt => "bbb") %></a></li>
	<li><a href="#"><%= image_tag("/images/img-card08.jpg", :alt => "thawte") %></a></li>
	<li><a href="#"><%= image_tag("/images/img-card09.jpg", :alt => "authorizeNet") %></a></li>
	-->
	
	
	<li>
		<!-- START SCANALERT CODE -->
		<a target="_blank" 
		   href="https://www.scanalert.com/RatingVerify?ref=www.dormbuys.com">

			<img width="94" height="54" border="0" 
			     src="//images.scanalert.com/meter/www.dormbuys.com/13.gif" 
			     alt="HACKER SAFE certified sites prevent over 99.9% of hacker crime." 
			     oncontextmenu="alert('Copying Prohibited by Law - HACKER SAFE is 
				 a Trademark of ScanAlert'); return false;">
		</a>
		<!-- END SCANALERT CODE -->
	</li>
	<li>
		<!-- START BBB -->
		<a target="_blank" href="http://www.bbbonline.org/cks.asp?id=107051675213840">

			<img src="/images/img-card07.jpg" border="0" 
				 alt="Click to verify BBB accreditation and to see a BBB report." 
				 oncontextmenu="alert('Use without permission is prohibited. The BBB Accreditation 
				 seal is a trademark of the Council of Better Business Bureaus, Inc.'); return false;" />
		</a>
		<!-- END BBB -->
	</li>
	<li>
		<!-- START Thawte Site Seal -->
		<script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=www.dormbuys.com&amp;size=L&amp;lang=en"></script>
		<!-- END Thawte Site Seal -->
	</li>
	<li>
		<!-- (c) 2006. Authorize.Net is a registered trademark of Lightbridge, Inc. --> 
		<div class="AuthorizeNetSeal"> 

			<script type="text/javascript" language="javascript">
				var ANS_customer_id="1c3cc57d-adb8-454f-a0bd-52694ce4af01";
			</script> 
			<script type="text/javascript" language="javascript" src="//VERIFY.AUTHORIZE.NET/anetseal/seal.js" ></script> 
	
			<!--
			<a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Online Payments</a> 
			-->
		</div>
		<!-- end auth.net -->
	</li>
	
	
</ul>