<div class="main_header">
	
	<h1 class="main_title">App Title</h1>
	
	<div class="right_text">
		This is the right side header text
		<%%= link_to "Link1", "#" %> | 
		<%%= link_to "Link2", "#" %> | 
		<%%= link_to "Link2", "#" %>
	</div>
	
	<div class="clear"></div>
	
	<div class="navs">
		
		<ul class="nav1">
			<li class="first"><%%= link_to "One", "#" %></li>
			<li><%%= link_to "Two", "#" %></li>
			<li><%%= link_to "Three", "#", :class => "current" %></li>
			<li class="last"><%%= link_to "Four", "#" %></li>
		</ul>
		
		<ul class="nav2">
			<li class="first"><%%= link_to "One", "#" %></li>
			<li><%%= link_to "Two", "#" %></li>
			<li><%%= link_to "Three", "#" %></li>
			<li class="last"><%%= link_to "Four", "#" %></li>
		</ul>
		
			<div class="clear"></div>

	</div><!-- eo .navs -->
	

	
</div><!-- eo .main_header -->