<div id="info_text">

	<h2>I have yet to be assigned a box number or Dorm Building/Room number</h2>

	<p>Dormbuys.com understands that you may be placing your order prior to receiving your College Box # or your Dorm assignments. This is why we allow you to choose, &quot;I have not yet been assigned.&quot; Dormbuys.com will contact you prior to shipping (after you have been assigned your full college address) for your COMPLETE information to ensure on time shipping. This option should only be used for customers that want to post date their shipment or have it arrive prior to their Dorm Move-in. When you get your complete college address information you can call us at 1-866-502-3676 or a customer service representative will call you when your ship date approaches.</p>

</div>