<div id="info_text">

	<h2>secure ordering</h2>

	<p>Your payment information is our top priority at Dormbuys.com.</p>

	<p>Dormbuys.com guarantees 100% secure ordering for all of our customers. To protect you and your personal account information, Dormbuys.com employs SSL (Secure Sockets Layer) technology. SSL is the industry standard and the best software available for secure commerce transactions. The SSL technology works by sending all of your personal information, including credit card number, name and address information to our computer in an encrypted code. Only Dormbuys.com can then decode it.</p>

	<p>In addition, you are protected by the Fair Credit Billing Act, which prohibits your bank from holding you liable for more than $50.00 of fraudulent charges.</p>

	<p>Dormbuys.com also pledges to use the best and most accepted methods and technologies to insure your personal information is safe and secure.</p>

	<p>If you have any other questions about the safety and security of your personal information, please do no hesitate to call or e-mail us.</p>

	<p>Phone: 1-866-502-DORM (3676)</p>

</div>