<div id="info_text">

	<h2>Ship Date</h2>

	<p>Choose the date you want your order to ship. Choosing a ship date is ideal if you know when you are arriving at college. This choice will allow you to have all of your college dorm needs upon your arrival at college. Choose a ship date 5 days prior to when you want your order to arrive. Your order will arrive 2-5 days after your ship date selection. We work with colleges and universities to hold your shipments a few days prior to your arrival, if they should arrive early. For instance if you know you&rsquo;ll be at college on August 20th, you should select your ship date as August 15th to ensure its on time arrival. Please note, you may have to pick-up your order at your college post office.</p>

	<h2>Prior to Arrival</h2>

	<p>This option is for Freshman, Sophomores, Juniors, &amp; Seniors moving into the dorms for the FALL SEMESTER. Dormbuys.com works with colleges and universities to ensure that your order will arrive at your dorm or campus post office box prior to your arrival. This option does not apply to students arriving before or after their college&rsquo;s official arrival dates. Dormbuys.com understands that you want your dorm products waiting for you when you arrive at college. This option will help you avoid the frustration of making sure everything arrives at your home first, only to have to jam it in your car to drive hours to get to your college dorm. Let Dormbuys.com put you at ease knowing that what you order today will be waiting for you on campus, according to your colleges arrival dates. (Please note this option cannot be selected within two weeks of your arrival date. Should you be within two weeks of your arrival dates please select &quot;Ship As Soon As Possible&quot;).</p>

	<h2>Ship ASAP</h2>

	<p>This option is what it says, Dormbuys.com will ship your order within the standard 5-10 day shipping window, unless otherwise stated within the product description.</p>
</div>